footer {
    padding-bottom: 0;
}

body {
    padding-bottom: 0 !important;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.p-3 {
    padding: 1rem !important;
}

.list-unstyled {
    padding-left: 0;
    list-style: none;
}

.mb-0 {
    margin-bottom: 0 !important;
}
/* Rmeove extra styling on a hyperlink */
a {
    all: unset;
}

